{% extends 'admin/model/create.html' %}

{% block body %}
  <h2 class="page-header">{{ create_modal_title }}</h2>
  <form action="{{ create_form_url }}" method="POST" enctype="multipart/form-data" id="create-edit-form">
    {{ create_form.hidden_tag() }}
    {{ render_field_with_errors(create_form.name) }}
    {{ render_field_with_errors(create_form.price) }}
    {{ render_field_with_errors(create_form.quantity) }}
    {{ render_field_with_errors(create_form.tax) }}
    {{ create_form.submit(class_='btn btn-primary') }}
  </form>
{% endblock %}
