{% extends 'admin/model/edit.html' %}

{% block body %}
  <h2 class="page-header">{{ edit_modal_title }}</h2>
  <form action="{{ edit_form_url }}" method="POST" enctype="multipart/form-data" id="create-edit-form">
    {{ edit_form.hidden_tag() }}
    {{ render_field_with_errors(edit_form.name) }}
    {{ render_field_with_errors(edit_form.price) }}
    {{ render_field_with_errors(edit_form.quantity) }}
    {{ render_field_with_errors(edit_form.tax) }}
    {{ edit_form.submit(class_='btn btn-primary') }}
  </form>
{% endblock %}
